@model Proyecto_BD.Models.Medico

@{
    ViewData["Title"] = "Create";
}

<h4>Medico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ID_Usuario" class="form-control" type="hidden" value="@ViewData["ID_Usuario"]" />
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Especialidad" class="control-label"></label>
                <select asp-for="ID_Especialidad" class ="form-control" asp-items="ViewBag.ID_Especialidad"></select>
            </div>
            <div class="form-group">
                <label asp-for="ID_Consultorio" class="control-label"></label>
                <select asp-for="ID_Consultorio" class ="form-control" asp-items="ViewBag.ID_Consultorio"></select>
            </div>
            <div class="form-group">
                <label asp-for="ID_Jornada" class="control-label"></label>
                <select asp-for="ID_Jornada" class ="form-control" asp-items="ViewBag.ID_Jornada"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
