@model IEnumerable<Proyecto_BD.Models.Ventas>

@{
    ViewData["Title"] = "Index";
}

<h1>Ventas</h1>

<p>
    <form asp-action="Create">
        <input type="submit" value="Registar Venta" class="btn btn-success"/>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recepcionista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recepcionista.ID_Recepcionista)
            </td>
        </tr>
}
    </tbody>
</table>
