@model EnviarTicketViewModel

<h2>Enviar Ticket por Correo</h2>

<form asp-action="GenerarTicket" method="post">
    <input type="hidden" asp-for="VentaId" />

    <div class="form-group">
        <label asp-for="CorreoElectronico"></label>
        <input asp-for="CorreoElectronico" class="form-control" />
        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar Ticket</button>
</form>