@{
    Layout = null;
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
}

<div class="login">
    <div class="login-sistge">
        <hr color="white" size="10" />
        <br />
        <h3>Ya tienes cuenta? <a asp-action="Login" style="color:white; text-decoration: none;">Ingresa Aquí</a></h3>
        <h3>No estás registrado? <a asp-action="RegistroPaciente" style="color:white; text-decoration: none;">Regístrate Aquí</a></h3>
    </div>
    <div class="login-datos">
        <h1>Recuperar Contraseña</h1>

        <span style="color:red">@Html.Raw(ViewBag.Message)</span>
        <span style="color:green">@Html.Raw(ViewBag.Completado)</span>

        <form class="form" method="post" asp-action="RecuperarPassword" id="frmFormulario">
            <fieldset class="email">
                <input type="email" name="Correo" required placeholder="Correo Electrónico" />
            </fieldset>
            <button type="submit" class="btn">Recuperar Contraseña</button>
        </form>
    </div>
</div>
